@font-face {
    font-family: gandom;
    src: url(../fonts/gandom-font/Gandom.ttf);
}

@font-face {
    font-family: yekan;
    src: url(../fonts/yekan/BYekan+\ Bold.ttf);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: gandom;
}

body {
    background-color: rgb(241, 246, 245);
}

img {
    width: 100%;
    display: block;
}

.content {
    direction: rtl;
    margin: 10px auto;
    overflow-x: hidden;
    font-family: gandom;
    max-width: 1200px;
    width: 100%;
}

nav {
    width: 100%;
    margin: 0.75rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    direction: rtl;
    position: relative;
}

.nav__right {
    display: flex;
    align-items: center;
    font-family: yekan;
}

.nav__logo {
    max-width: 3.5rem;
}

.nav__left {
    background-color: rgb(255, 255, 255);
    padding: 0 0.5rem;
    border-radius: 1rem;
    display: flex;
    direction: rtl;
    position: relative;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    justify-content: space-evenly;
}

.nav__left span {
    background-color: #acf7ff;
    position: absolute;
    transition: all 0.5;
    align-self: center;
    height: 2.5rem;
    border-radius: 1.2rem;
    -webkit-border-radius: 1.2rem;
    -moz-border-radius: 1.2rem;
    -ms-border-radius: 1.2rem;
    -o-border-radius: 1.2rem;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5;
    -ms-transition: all 0.5;
    -o-transition: all 0.5;
    right: 9px;
    width: 3.5rem;
}

.nav__left a {
    color: #008172;
    text-decoration: none;
    padding: 0.75rem;
    z-index: 2;
}

.nav__left a:nth-child(2):hover~span {
    right: 62px;
    width: 126px;
}

.nav__left a:nth-child(3):hover~span {
    right: 188px;
    width: 120px;
}

.nav__left a:nth-child(4):hover~span {
    right: 308px;
    width: 108px;
}

.nav__left a:nth-child(5):hover~span {
    right: 416px;
    width: 120px;
}

.nav__left a:nth-child(6):hover~span {
    right: 536px;
    width: 83px;
}

.nav__left a:nth-child(7):hover~span {
    right: 619px;
    width: 66px;
}

.nav__left a:nth-child(8):hover~span {
    right: 685px;
    width: 79px;
}

.nav__mobile__icon1 {
    display: none;
    width: 3rem;
}

#nav__mobile {
    width: 12rem;
    display: flex;
    position: absolute;
    z-index: 2000;
    left: -13rem;
    top: 0;
    backdrop-filter: blur(10rem);
    border-radius: 0 1rem 1rem 0;
    -webkit-border-radius: 0 1rem 1rem 0;
    -moz-border-radius: 0 1rem 1rem 0;
    -ms-border-radius: 0 1rem 1rem 0;
    -o-border-radius: 0 1rem 1rem 0;
    transition: left 0.5s ease-in-out;
    -webkit-transition: left 0.5s ease-in-out;
    -moz-transition: left 0.5s ease-in-out;
    -ms-transition: left 0.5s ease-in-out;
    -o-transition: left 0.5s ease-in-out;
}

.nav__mobile__icon2 {
    width: 1.5rem;
}

#nav__mobile__menu {
    width: 10.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nav__mobile__menu a {
    color: #006c81;
    text-decoration: none;
    font-weight: bold;
    display: block;
    margin: 0.5rem 0;
}

.top__home .swiper-slide:nth-child(1) {
    background: #fff;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    align-items: center;
    height: fit-content;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.top__home .swiper-slide:nth-child(1) img {
    max-width: 580px;
    width: 100%;
}

.swiper-pagination {
    margin-top: 1rem;
    position: static
}

.swiper-pagination-bullet {
    height: 1rem;
    width: 1rem;
}

.swiper-pagination-bullet-active {
    width: 2.5rem;
    border-radius: 0.75rem;
    -webkit-border-radius: 0.75rem;
    -moz-border-radius: 0.75rem;
    -ms-border-radius: 0.75rem;
    -o-border-radius: 0.75rem;
}

.top__home .first__slide__text {
    max-width: 592px;
    padding-right: 3rem;
    color: #006c81;
    text-align: right;
}

.top__home .first__slide__text p:nth-child(1) {
    font-size: 2.5rem;
    line-height: 3.5rem;
    margin-bottom: 2rem;
}

.top__home .first__slide__text p:nth-child(2) {
    font-size: 1.25rem;
    line-height: 2rem;
}

.section__download__App {
    width: 100%;
    margin-top: 3.5rem;
    padding-top: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom right, rgb(255, 233, 230), rgb(202, 231, 250));
    border-radius: 1.5rem;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
}

.section__title {
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
    display: block;
    margin-bottom: 1.5rem;
    color: #018fac;
}

.section__user__Interface {
    margin: 1rem 0 3.5rem 0;
    padding: 5px;
    background-color: rgb(233, 246, 255);
    display: grid;
    grid-template-columns: 100px 100px 100px;
    border-radius: 1.75rem;
    -webkit-border-radius: 1.75rem;
    -moz-border-radius: 1.75rem;
    -ms-border-radius: 1.75rem;
    -o-border-radius: 1.75rem;
}

.User__Interface {
    width: 100px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.5rem;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
    font-family: vazir;
    color: #878484;
    transition: background-color 0.3s, color 0.3s;
}

.User__Interface img {
    width: 36px;
    height: 36px;
    margin-left: 4px;
}

.User__Interface.active {
    background-color: white;
    color: rgb(0, 128, 100);
}

.User__Interface.active img {
    filter: brightness(0) saturate(100%) invert(42%) sepia(94%) saturate(2215%) hue-rotate(141deg) brightness(90%) contrast(92%);
}

#section__download__andriod {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}

#section__download__andriod img:nth-child(2n) {
    width: 201px;
    margin: 0 1rem;
}

#section__download__andriod img:nth-child(2n + 1) {
    width: 210px;
    margin: 0 1rem;
}

.section__option__cards {
    width: 100%;
    margin-top: 3.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section__option__top__cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.option__top__card {
    width: 100%;
    max-width: 535px;
    min-width: 450px;
    display: flex;
    grid-template-columns: 40% 60%;
    background-color: rgb(0, 140, 255);
    align-items: center;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    overflow: hidden;
    direction: ltr;
}

.section__option__top__cards__img {
    flex: 35;
    width: 100%;
    display: block;
}

/* 
.section__option__top__cards__img2{
    display: none;
} */

.section__option__top__cards__text {
    flex: 65;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: right;
    margin: 0 1.25rem 0 0.5rem;
}

.top__cards__text__control {
    text-align: right;
    width: fit-content;
    max-width: 300px;
    height: fit-content;
    color: #fff;
}

.top__cards__text__control a button {
    width: 70%;
    height: 32px;
    background-color: #fff;
    color: rgb(0, 140, 255);
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}

.section__option__bottom__cards {
    width: 100%;
    height: fit-content;
    margin-top: 3.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.option__bottom__card {
    direction: rtl;
    max-width: 372px;
    width: 100%;
    min-width: 300px;
    padding: 0.5rem;
    background-color: #fff;
    color: #006c81;
    border: 2px solid rgb(0, 140, 255);
    border-radius: 1.5rem;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
}

.section__account__opening {
    margin-top: 3.5rem;
}

.section__option__bottom__cards__img {
    width: 4rem;
}

.section__account__opening__swiper .swiper-slide {
    width: 100%;
    direction: ltr;
    text-align: right;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.account__opening__swiper__left {
    flex: 4;
}

.account__opening__swiper__right {
    flex: 6;
    display: grid;
    grid-template-columns: 15% 85%;
    direction: rtl;
    align-items: start;
    column-gap: 0.5rem;
}

.account__opening__swiper__text {
    max-width: 410px;
    width: 100%;
}

.section__receive__loan {
    width: 100%;
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
    justify-items: center;
}

.section__receive__loan__img2 {
    display: none;
    max-width: 23rem;
    margin: 0 auto;
}

.section__receive__loan__img {
    width: 100%;
    max-width: 20rem;
}

.section__receive__loan__swiper {
    display: block;
    width: 100%;
    height: 80%;
}

.section__receive__loan__swiper .swiper {
    height: 100%;
}

.section__receive__loan__swiper .swiper-wrapper {
    height: calc(100% - 2.5rem);
}

.section__receive__loan__swiper .swiper-pagination {
    text-align: right;
}

.section__questions {
    width: 100%;
}

.puestion {
    margin: 2rem 0;
    width: 100%;
    padding: 0.75rem;
    border-radius: 0.75rem;
    -webkit-border-radius: 0.75rem;
    -moz-border-radius: 0.75rem;
    -ms-border-radius: 0.75rem;
    -o-border-radius: 0.75rem;
    overflow: hidden;
    background-color: rgba(142, 246, 168, 0.537);
}

.questions__title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #008080;
}

.arrow__down {
    width: 3rem;
}

.full__answer {
    overflow: hidden;
    max-height: 0;
    width: 100%;
    transition: max-height 0.25s ease-in-out;
    -webkit-transition: max-height 0.25s ease-in-out;
    -moz-transition: max-height 0.25s ease-in-out;
    -ms-transition: max-height 0.25s ease-in-out;
    -o-transition: max-height 0.25s ease-in-out;
    display: block;
}

.open .full__answer {
    max-height: 350px;
}

.section__support {
    width: 100%;
    padding: 3rem;
    border-radius: 1.5rem;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
    border: 2px solid rgba(134, 217, 216, 0.733);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    overflow: hidden;
}

.support__img {
    flex: 35;
    min-width: 13.25rem;
    max-width: 15rem;
    border-radius: 1.5rem;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
    overflow: hidden;
}

.section__support__text {
    flex: 65;
    text-align: right;
    min-width: 24.75rem;
}

.section__support__text p:nth-child(1) {
    font-size: 1.5rem;
    font-weight: 900;
    color: #006c81;
}

.section__support__text p:nth-child(2) {
    line-height: 1.75rem;
    font-size: 1rem;
    font-weight: 900;
}

.section__support__text a button {
    color: #fff;
    background-color: #008080;
    padding: 0.75rem;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}

.section__last__events .swiper-container {
    /* width: ; */
    height: fit-content;
}

.section__last__events .swiper-slide {
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    /* max-width: 300px;
    max-height: 533px; */
    height: fit-content;
}

.event__comment {
    width: 100%;
    height: fit-content;
    padding: 1.5rem;
    position: absolute;
    bottom: 0;
    background-image: linear-gradient(to top, black, rgba(0, 0, 0, 0));
}

.event__comment h4 {
    color: #fff;
}

.event__comment h6 {
    line-height: 1.5rem;
    color: #ffffffbd;
}

.last__events__icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.last__events__go__to__page__icon {
    width: 3rem;
}

.event__comment__date {
    width: fit-content;
    padding: 0.25rem 0.5rem;
    color: #fff;
    background-color: #5b5b5b53;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}


footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top__footer {
    margin-top: 3rem;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
}

.top__company__history {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.section__top__footer__logo {
    width: 35%;
}

.section__top__footer__icon {
    width: 20%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
}

.section__company__history {
    max-width: 35rem;
}

.section__top__footer__icon img {
    background-color: aqua;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}

.comment__company__history {
    line-height: 2rem;
}

.bottom__footer {
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    width: 100%;
    direction: rtl;
}

.bottom__footer__comment {
    text-align: right;
    width: fit-content;
    min-width: 15.5rem;
}

.bottom__footer__comment p {
    display: block;
    margin: 0.75rem 0;
}

.bottom__footer__comment__img {
    max-width: 15.5rem;
}

@media screen and (max-width:960px) {
    .nav__left {
        display: none;
    }

    .nav__mobile__icon1 {
        display: block;
    }

    #nav__mobile.active {
        left: 0;
        display: flex;
    }
}

@media screen and (max-width: 898px) {

    .top__home .swiper-slide:nth-child(1) {
        display: flex;
        flex-direction: column;
        padding-top: 2rem;

    }

    .top__home .first__slide__text {
        padding-right: 0;
        text-align: center;
    }

    .top__footer {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width:771px) {

    .section__account__opening__swiper .swiper-slide {
        flex-direction: column-reverse;
    }

    .account__opening__swiper__left {
        flex: content;
    }

    .account__opening__swiper__right {
        flex: content;
        max-width: 22rem;
    }

    .section__receive__loan {
        display: flex;
        flex-direction: column-reverse;
    }

    .section__receive__loan__img{
        display: none;
    }

    .section__receive__loan__img2{
        display: block;
    }

    .section__receive__loan__swiper .swiper-pagination,
    .section__receive__loan .swiper-slide {
        text-align: center;
    }

    .section__support__text {
        text-align: center;
    }

}

@media screen and (max-width:431px) {

    .top__home .first__slide__text {
        margin-left: 1.5rem;
        padding-right: 1.5rem;
        text-align: right;
    }

    .top__home .first__slide__text p:nth-child(1) {
        font-size: 1.75rem;
        font-weight: 700;
        line-height: 2rem;
        margin-bottom: 1rem;
    }

    .top__home .first__slide__text p:nth-child(2) {
        font-size: 1rem;
        font-weight: 600;
        line-height: 1.75rem;
    }


}